ADMIN_EMAIL=admin@example.com
SMTP_HOST=
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
JWT_SECRET=
ADMIN_SECRET_CODE=

# Railway PostgreSQL
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?schema=public"
